body {
    background-color: #99ccff ;
}

form {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.microBlog {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
}

h2 {
    text-align: center;
}